.wrapper{
    overflow: hidden;
    display: flex;
    width: 100vw;
    height:100vh;
justify-content: center;
align-items: center;
background-color:#344151;
flex-direction: column;
gap: 10px;
}
.sk{
    color: #0398d4;
}
.sk1{
    background-color: white;
    display: flex;
    flex-direction: row;
    color: #344151;
    font-size: 20px;
    border-radius: 5px;
    gap: 10px;
    padding: 3px;
}
.sk2{
    padding-left: 3px;
}
.sk3{
    font-weight: bold;
}
.sk4{
    padding-right: 3px;
}